@import "./_variable.scss";

@mixin caseDimension {
  height: $hauterCase;
  width: $largeurcase;
}
.cardbateau {
  padding-left: 200px;
  margin-left: 20px;
  // justify-content: space-around;
  // text-align: center;
  background-repeat: no-repeat;
  height: 38px;
}

.bg-image{
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 300px;
  // object-fit: cover;
}

.bg-image .mask{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color:#fff;
}

.bg-image .mask .titreJumbo{
  height: 100%;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  color: white!important;
}



.bg-bateau {
  background-repeat: no-repeat;
  height: 38px;
  margin-left: -200px;
}

.buttonphase {
  height: 30px;
  width: 200px;
}
.container-fluid {
  align-content:space-around ;
}

// .casedesAttaquesHit {
//   @include caseDimension;
//   background: red;
//   border-style: solid;
// }

// .casedesAttaquesMiss {
//   @include caseDimension;
//   background: white;
//   border-style: solid;
// }


.case, .casedesAttaques {
  @include caseDimension;
  background:$mer;
  border:0.001em solid ;
  border-color: $griscontour;
  background-repeat: no-repeat;
  background-size: cover;
}

//case vide du coin en haut a gauche
.caseVide {
  @include caseDimension;
}

.caseEntete, .caseVerticale {
  @include caseDimension;
  display:flex;
  padding-top:6px;
  background-color:$gris;
  color:white;
  font-weight: bold;
  justify-content: space-around;
  border:0.001em solid ;
  border-color: $griscontour;
}

.colonneVerticale {
  text-align: center;
  width: 16px;
}

.cardnomcol {
  width: $largeurcase;
  text-align:center;
  margin-left: 200px;
}

//entete des nom des colonnes A-B-C-D-E etc
.enteteLettre {
  display: flex;
  flex-direction: row;
  width: $largeurcase*10+10px;
  text-align: center;
}

.row {
  margin: 0px;
}

.statutjeu{
  background-color: black;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
  height: 70px;
  padding-top: 20px;
}

.tableau {
  // background:rgb(18, 82, 185) !important;
  width: $largeurcase*10;
  height: $hauterCase*10;
}

.jumbotron_jeu {
  font-size: 36px;
  font-weight: bold;
  color:#ffffff;
  // height: auto;
  // opacity:2;
  width: auto;
  border-radius: 0%;
  margin-bottom: 0;
}

.menu_color {
  padding-right: 40px;
}
.menu_container {
  padding: 20px 20px;
}

.menu_jumbotron {
  font-size: 25px;
  margin-bottom: 0;
}